#header {
background-color: orange;
}

h2 {
    background-color: #217a1c89;
}

h3 {
    color: rgb(44, 156, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: orange;
    padding: auto;
    margin: auto;
    height: 30px;
    color: rgb(44, 156, 141);
}
